<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FinTime | 컨텐츠 관리</title>
  <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <style>
    
  </style>
</head>

<body>
  <div class="container">
    <main class="main-area">
      <h2 class="title">컨텐츠 관리</h2>
      <form class="search-form" >
        <div class="select-box md" style="display:none">
          <strong class="label" onclick="ClickSelectLabel('searchCor')" id="searchCor" name="searchCor">기관명</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('searchCor','기관명','searchCor')">
              기관명
            </li>
            <li class="option" onclick="ClickSelectOption('searchCor','이벤트제목','searchSubject')">
              이벤트 제목
            </li>
          </ul>
        </div>
        <div class="input-wrap">
          <input id="searchInputCor" class="input" placeholder="기관명 입력 후 검색" />
          <span class="delete-btn"></span>
        </div>
        <div class="input-wrap" style="margin-left: 16px;">
          <input id="searchInputSub" class="input" placeholder="이벤트 제목 입력 후 검색" />
          <span class="delete-btn"></span>
        </div>
        <div class="select-box md" style="margin-left: 16px;">
          <strong class="label" onclick="ClickSelectLabel('useYn')" id="useYn" name="" >전체</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('useYn','전체','')">
              전체
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','노출','Y')">
              노출
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','비노출','N')">
              비노출
            </li>
          </ul>
        </div>
        <button id="searchBtn" class="btn primary md search-btn" onclick="javascript:selectList()">검색</button>
      </form>
      <div class="table-area">
        <div class="flex justify-between align-end" style ="display:none">
          <strong class="count"></strong>
          <button class="btn tertiary sm" id="addBtn" onclick=""> + 그룹 추가</button>
        </div>
        <table class="table intent-table">
          <caption>컨텐츠 데이터 관리 테이블</caption>
          <colgroup>
            <col width="80px" />
            <col />
            <col width="80px" />
            <col width="80px" />
            <col width="80px" />
            <col width="80px" />
            <col width="80px" />
            <col width="80px" />
            <col width="80px" />
          </colgroup>
          <thead class="thead type2">
            <tr>
              <th>기관명</th>
              <th>이벤트제목</th>
              <th>시작일</th>
              <th>종료일</th>
              <th>썸네일</th>
              <th>이미지</th>
              <th>목록 URL</th>
              <th>상세 URL</th>
              <th>노출여부</th>
            </tr>
          </thead>
          <tbody id="dataContent" class="tbody"></tbody>
        </table>
      </div>
    </main>
  </div>
</body>
<script>
  //세션
  let session_check = "{{session}}";
  if (session_check == 'None') {
    top.location.href = '/';
  }

  $(document).ready(function () {
    // session_ok("{{domain}}", "{{port}}");
    selectList()

  })

  $("#dataContent").on('dblclick', 'tr', function() {
      addModal(this)
  });  

  $("#dataContent").on('dblclick', 'td:last-child', function(e) {
      e.stopPropagation();  
      ynModal(this)
  });

  $("#addBtn").click(function () {
    addModal()
  })


function clickEvtSelOpt(id, option, name){
  ClickSelectOption(id,option,name)
  
}
  //모달 
  function addModal(tag=false) {
    //session_ok("{{domain}}", "{{port}}");
    var modal_title = tag ? "기관 수정" : "기관 추가"
    console.log(tag)
    var flag = tag ?  true : false  // true는 수정  // false는 추가
    //요소 바인딩
    var cor_name = tag ? $(tag).find("td").eq(0).text() : ""
    var title = tag ? $(tag).find("td").eq(1).text() : ""
    var start_dt = tag ? $(tag).find("td").eq(2).text().trim() : ""
    var end_dt = tag ? $(tag).find("td").eq(3).text().trim() : ""
    var thumbnail_url = tag ? $(tag).find("td").eq(4).find("button").attr('data-value') : ""
    var img_url = tag ? $(tag).find("td").eq(5).find("button").attr('data-value') : ""
    values = `
                    <h3>기관명</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="corNmInput" class="input" placeholder="기관명을 입력 해 주세요" 
                                onfocus="FocusInput('corNmInput')" oninput="ChangeInput('corNmInput')" onblur="BlurInput('corNmInput')"
                                value="${cor_name}" readonly>
                        </div>
                    </fieldset>
                    <br>
                    <h3>이벤트제목</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="corNmInput" class="input" placeholder="기관명을 입력 해 주세요" 
                                onfocus="FocusInput('corNmInput')" oninput="ChangeInput('corNmInput')" onblur="BlurInput('corNmInput')"
                                value="${title}" readonly>
                        </div>
                    </fieldset>
                    <br>
                    <h3>이벤트기간</h3>
                    <fieldset>
                      <div class="date-wrap align-center"  >
                        <div class="date-box" style="width:47.5%;float:left"><input type="date" id="startDay" value="${start_dt}"></div>
                        <span class="unit" >~</span>
                        <div class="date-box" style="width:47.5%;float:right"><input type="date" id="endDay" value="${end_dt}"></div>
                      </div>
                    </fieldset>
                    <h3>썸네일</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <div class="select-box xs" >
                              <strong class="label" onclick="ClickSelectLabel('thumbOpt')" id="thumbOpt" name="" >URL</strong>
                              <ul class="options type">
                                <li class="option thumb" onclick="clickEvtSelOpt('thumbOpt','URL','url')">
                                  URL
                                </li>
                                <li class="option thumb" onclick="clickEvtSelOpt('thumbOpt','파일','file')">
                                  파일
                                </li>
                              </ul>
                            </div>
                            <div class="input-wrap sm">
                              <input id="thumbUrlInput" class="input" placeholder="썸네일 이미지 URL을 입력 해 주세요" 
                                onfocus="FocusInput('thumbUrlInput')" oninput="ChangeInput('thumbUrlInput')" onblur="BlurInput('thumbUrlInput')"
                                value="${thumbnail_url}">
                              <span class="delete-btn" onclick="DeleteInput('thumbUrlInput')"></span>
                              <button>미리보기</button>
                            </div>
                            <div class="input-wrap sm">
                              <input type="file" id="file-input" accept="image/*" style="display:none">
                            </div>
                          </div>

                    </fieldset>
                    <br>
                    <h3>이미지 URL</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="imgUrlInput" class="input" placeholder="이미지 URL을 입력 해 주세요" 
                                onfocus="FocusInput('imgUrlInput')" oninput="ChangeInput('imgUrlInput')" onblur="BlurInput('imgUrlInput')"
                                value="${img_url}">
                            <span class="delete-btn" onclick="DeleteInput('imgUrlInput')"></span>
                        </div>
                    </fieldset>    `
    OpenModal("이벤트 상세", "", true, true, "addGroup()", "확인", "취소", "", "lg", values)
  }
function changeTest(){
  console.log('test')
}
  // 전체 조회
  function selectList() {

    $("#dataContent").empty();
    let formData = new FormData();

    let corNm = $('#searchInputCor').val()
    let corSub = $('#searchInputSub').val()
    let option = $('#useYn').attr('name')

    formData.append("corNm",corNm)
    formData.append("corSub",corSub)
    formData.append("useYn",option)

    fetch("/evtDataList", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('success')
                values = ``
                data.forEach((v, i) => {
                  var status = v['use_yn'];
                  var statusCol = ''
                  var encodingJSON = encodeURIComponent(JSON.stringify(v));
                  if(status =='Y')
                  {
                    // statusCol = `<td><button id='applyBtn' class='btn primary sm' data-json='${JSON.stringify(v)}'  onclick="updateEvent(this)">비노출</button></td>`
                    
                    statusCol = "<td><button id='useYnBtn' class='btn primary sm' data-json="+encodingJSON+" >노출중</button></td>"
                  }
                  else if(status =='N')
                  {
                    // statusCol = `<td><button id='applyBtn' class='btn primary sm' data-json='${JSON.stringify(v)}'  onclick="updateEvent(this)">재노출</button></td>`
                    
                    statusCol = "<td><button id='useYnBtn' class='btn primary sm' data-json="+encodingJSON+" >비노출</button></td>"
                  }
                  values += `    
                    <tr data-id="${i+1}" name="${v['evt_title']}" explain="${v['evt_title']}">
                      <td>${v['cor_nm']}</td>
                      <td>${v['evt_title']}</td>
                      <td>${v['evt_st_date']} </td>
                      <td>${v['evt_ed_date']} </td>
                      <td><button id='thumbBtn' class='btn primary sm' data-value="${v['evt_thumbnail']}">썸네일</button></td>
                      <td><button id='imgBtn' class='btn primary sm' data-value="${v['evt_img']}" >이미지</button></td>
                      <td><button id='listBtn' class='btn primary sm'>리스트</button></td>
                      <td><button id='dtBtn' class='btn primary sm'>디테일</button></td>`
                  values += statusCol
                  values += `  </tr>`
                });
                $("#dataContent").append(values)
                CloseModal()
            })
            .catch(error => {
                console.error("Error:", error);
            });
  
  }
  function insertEvent(button) {

    let formData = new FormData();
    
    formData.append("datas", JSON.stringify(JSON.parse(button.getAttribute("data-json"))));
    formData.forEach((value, key) => {
        console.log(`${key}: ${value}`);
    });

    fetch("/insertEvent", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
              selectList()
            })
            .catch(error => {
              console.error("Error:", error);
            });
  }

  function updateEvent(button) {

    let formData = new FormData();

    var decodeData = decodeURIComponent(button.getAttribute("data-json"));
    formData.append("datas", JSON.stringify(JSON.parse(decodeData)));

    fetch("/updateEvent", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
              button.text("새 이름");
            })
            .catch(error => {
              console.error("Error:", error);
            });
  }
  // 전체 조회
  function SearchGroupCode() {
    $.ajax({
      url: "{{domain}}:{{port}}/getAdminGroup",
      type: "GET",
      contentType: "application/json",
      success: function (response) {
        console.log(response)

        $(".count").append(`Total : ${response.length}`)

        values = ``
        response.forEach((v, i) => {
          values += `    
            <tr data-id="${v['group_code']}" name="${v['group_name']}" explain="${v['group_info']}">
              <td>${i + 1}</td>
              <td>${v['group_code']}</td>
              <td>${v['group_name']}</td>
              <td>${v['group_info']} 챗봇 데모</td>
              <td>${v['reg_date']}</td>
            </tr>`
        });
        $("#dataContent").append(values)
      }
    });
  }


  //검색 기능
  $("#searchBtn").click(function (e) {
    e.preventDefault();
  })

  //노출여부 수정
  $("#useYnBtn").click(function (e) {
    e.preventDefault();
  })
  //노출/비노출 모달
  function ynModal(tag){
    var decodeData = decodeURIComponent($(tag).find("button").attr("data-json"));
    let data = JSON.parse(decodeData )
    let button = $(tag).find("button");
    var before_yn =  data.use_yn == "Y" ? "비노출" : "노출" 
    target_data = JSON.stringify({
      "change_yn" : data.use_yn == "Y" ? "N" : "Y" ,
      "evt_id" :  data.evt_id
    })
    values = `<p>${before_yn} 상태로 변경하시겠습니까 ?</p>`
    OpenModal("노출여부 변경", ``, true, true, `changeYN(${target_data})`, "확인", "취소", "", "md", values)
  }
  
  function changeYN(data) {

   let formData = new FormData();

    formData.append("datas", JSON.stringify(data));
    
    console.log(data.change_yn)
    fetch("/updateEvent", {
              method: "POST",
              body: formData
          })
          .then(response => response.json())
          .then(data => {
            CloseModal();
            let values = `<p>사용여부 변경이 완료되었습니다.</p>`;
            values += `<br>`;
            OpenModal("사용여부 변경", "", true, "", "selectList()", "확인", "", true, "md", values);
          })
          .catch(error => {
            console.error("Error:", error);
          });
  }
  //추가 기능
  function addGroup() {
    session_ok("{{domain}}", "{{port}}");
    let new_group_name = $("#groupname").val()
    let new_group_info = $("#groupinfo").val()

    //경우1: 그룹명을 입력하지 않을 경우
    if (new_group_name.length == 0) {
      values = `<p>그룹 명을 입력해주세요.</p>`
      OpenModal("알림", "except1", true, "", `CloseModal("except2")`, "확인", "", true, "sm", values)

      //경우2: 그룹 설명을 입력하지 않을 경우
    } else if (new_group_info.length == 0) {
      values = `<p>그룹 설명을 입력해주세요.</p>`
      OpenModal("알림", "except2", true, "", `CloseModal("except2")`, "확인", "", true, "sm", values)

    } else {
      $.ajax({
        url: "{{domain}}:{{port}}/insertAdminGroup",
        type: "POST",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify([new_group_name, new_group_info]),
        success: function (response) {

          if (response[0] = "00000") {
            CloseModal()
            values = `<p>관리자 그룹 등록이 완료되었습니다.</p>`
            OpenModal("완료", "", true, "", "CloseModal()", "확인", "", true, "sm", values)

          } else {
            values = `<p>관리자 그룹 등록이 실패했습니다. </p>`
            OpenModal("실패", "except3", true, "", `CloseModal("except3")`, "확인", "", true, "sm", values)
          }
        }
      })
    }
  }
</script>

</html>