<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FinTime | 컨텐츠 관리</title>
  <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <style>

  </style>
</head>

<body>
  <div class="container">
    <main class="main-area">
      <h2 class="title">컨텐츠 관리</h2>
      <form class="search-form" style="display: flex; flex-wrap: wrap;" >
        <div class="input-wrap">
          <input id="searchInputCor" class="input" placeholder="기관명 입력 후 검색" />
          <span class="delete-btn"></span>
        </div>
        <div class="input-wrap" style="margin-left: 16px;">
          <input id="searchInputSub" class="input" placeholder="이벤트 제목 입력 후 검색" />
          <span class="delete-btn"></span>
        </div>
        <div class="select-box sm" style="margin-left: 16px;">
          <strong class="label" onclick="ClickSelectLabel('useYn')" id="useYn" name="" >전체</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('useYn','전체','')">
              전체
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','노출','Y')">
              노출
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','비노출','N')">
              비노출
            </li>
          </ul>
        </div>
        <div class="select-box sm" style="margin-left: 16px;">
          <strong class="label" onclick="ClickSelectLabel('chkYn')" id="chkYn" name="" >전체</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('chkYn','전체','')">
              전체
            </li>
            <li class="option" onclick="ClickSelectOption('chkYn','확인필요','Y')">
              확인필요
            </li>
          </ul>
        </div>
        <button id="searchBtn" class="btn primary md search-btn" onclick="javascript:selectList()">검색</button>
      </form>
      <div class="table-area">
        <div class="flex justify-between align-end">
          <strong class="count"></strong>
        </div>
        <table class="table intent-table">
          <caption>컨텐츠 데이터 관리 테이블</caption>
          <colgroup>
            <col width="80px" />
            <col />
            <col width="80px" />
            <col width="80px" />
            <col width="160px" />
            <col width="160px" />
            <col width="80px" />
            <col width="80px" />
            <col width="90px" />
          </colgroup>
          <thead class="thead type2">
            <tr>
              <th>기관명</th>
              <th>이벤트제목</th>
              <th>시작일</th>
              <th>종료일</th>
              <th>이미지</th>
              <th>URL</th>
              <th>노출여부</th>
              <th>삭제</th>
              <th>비고</th>
            </tr>
          </thead>
          <tbody id="dataContent" class="tbody"></tbody>
        </table>
      </div>
    </main>
  </div>
</body>
<script>

  $(document).ready(function () {selectList()})

  $("#dataContent").on('dblclick', 'tr', function() {
      addModal(this)
  });  


function clickEvtSelOpt(id, option, name){
  ClickSelectOption(id,option,name)
  if(id=='thumbOpt'){
    if(name=='url'){
      $('#thumbFileArea').css('display','none')  
      $('#thumbUrlArea').css('display','block')  
    }
    else
    {
      $('#thumbFileArea').css('display','block')  
      $('#thumbUrlArea').css('display','none')  
    }
  }
  if(id=='imgOpt'){
    if(name=='url'){
      $('#imgFileArea').css('display','none')  
      $('#imgUrlArea').css('display','block')  
    }
    else
    {
      $('#imgFileArea').css('display','block')  
      $('#imgUrlArea').css('display','none')  
    }
  }

}
  //모달 
  function addModal(tag=false) {
    //session_ok("{{domain}}", "{{port}}");
    //요소 바인딩
    var decodeData = decodeURIComponent($(tag).attr("data-json"));
    let data = JSON.parse(decodeData)
    var evt_id = data['evt_id']
    var cor_name = data['cor_nm']
    var title = data['evt_title']
    var start_dt = data['evt_st_date']
    var end_dt = data['evt_ed_date']
    var thumbnail_url = data['evt_thumbnail']
    var img_url = data['evt_img']
    var listLink = data['evt_list_link']
    var dtLink = data['evt_dt_link']
    var evtNoti = data['evt_noti']
    
    var thumbUrlSt = ''
    var thumbFileSt = ''
    var imgUrlSt = ''
    var imgFileSt = ''
    var thumbSel = 'URL'
    var imgSel = 'URL'
    thumbUrlSt = 'display:block'
    thumbFileSt = 'display:none'
    if(thumbnail_url!='' || thumbnail_url.indexOf('/resources/')==0)
    {
      if(thumbnail_url.indexOf('/resources/')==0)
      {
        thumbSel = '파일'
      }
    }
    imgUrlSt = 'display:block'
    imgFileSt = 'display:none'
    if(img_url!='' || img_url.indexOf('/resources/')==0)
    {
      if(img_url.indexOf('/resources/')==0)
      {
        imgSel = '파일'
      }
    }

    // else
    // {
    //   imgUrlSt = 'display:none'
    //   imgFileSt = 'display:block'
    // }
    values = `    <form>
                    <h3>기관명</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="corNmInput" class="input"
                                value="${cor_name}" readonly><input type="hidden" id="evtId" value="${evt_id}"/>
                        </div>
                    </fieldset>
                    <br>
                    <h3>이벤트제목</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="titleInput" class="input"
                                value="${title}" readonly>
                        </div>
                    </fieldset>
                    <br>
                    <h3>이벤트기간</h3>
                    <fieldset>
                      <div class="date-wrap  flex align-center"  >
                        <div class="date-box"><input type="date" id="startDay" value="${start_dt}"></div>
                        <span class="unit" >~</span>
                        <div class="date-box"><input type="date" id="endDay" value="${end_dt}"></div>
                      </div>
                    </fieldset>
                    <br>
                    <h3>썸네일</h3>
                    <fieldset>
                      <div class="input-wrap sm" style="display:flex">
                        <div class="select-box xs" >
                          <strong class="label" onclick="ClickSelectLabel('thumbOpt')" id="thumbOpt" name="" >${thumbSel}</strong>
                          <ul class="options type">
                            <li class="option thumb" onclick="clickEvtSelOpt('thumbOpt','URL','url')">
                              URL
                            </li>
                            <li class="option thumb" onclick="clickEvtSelOpt('thumbOpt','파일','file')">
                              파일
                            </li>
                          </ul>
                        </div>
                        <div class="input-wrap sm" id="thumbUrlArea" style="${thumbUrlSt};margin-left: 0px;">
                          <input id="thumbUrlInput" class="input" placeholder="썸네일 이미지 URL을 입력 해 주세요"
                            onfocus="FocusInput('thumbUrlInput')" oninput="ChangeInput('thumbUrlInput')" onblur="BlurInput('thumbUrlInput')"
                            value="${thumbnail_url}" style="width:86%">
                          <span class='btn primary sm' onclick="openImgModal('','thumb','url')" data-value="${thumbnail_url}" >미리보기</span>
                          <span class="delete-btn" onclick="DeleteInput('thumbUrlInput')"></span>
                        </div>
                        <div class="input-wrap sm" id="thumbFileArea" style="${thumbFileSt}">
                          <input type="file" id="thumb-file-input" accept="image/*" >
                          <span class='btn primary sm' onclick="openImgModal(this)" data-value="${thumbnail_url}">미리보기</span>
                        </div>
                      </div>
                    </fieldset>
                    <br>
                    <h3>이미지 URL</h3>
                    <fieldset>
                      <div class="input-wrap sm">
                        <div class="select-box xs" >
                          <strong class="label" onclick="ClickSelectLabel('imgOpt')" id="imgOpt" name="" >${imgSel}</strong>
                          <ul class="options type">
                            <li class="option thumb" onclick="clickEvtSelOpt('imgOpt','URL','url')">
                              URL
                            </li>
                            <li class="option thumb" onclick="clickEvtSelOpt('imgOpt','파일','file')">
                              파일
                            </li>
                          </ul>
                        </div>
                        <div class="input-wrap sm" id="imgUrlArea" style="${imgUrlSt};margin-left: 0px;">
                          <input id="imgUrlInput" class="input" placeholder="이미지 URL을 입력 해 주세요" 
                            onfocus="FocusInput('imgUrlInput')" oninput="ChangeInput('imgUrlInput')" onblur="BlurInput('imgUrlInput')"
                            value="${img_url}" style="width:86%">
                            <span class="delete-btn" onclick="DeleteInput('imgUrlInput')"></span>
                            <span class='btn primary sm'  onclick="openImgModal('','img','url')" data-value="${img_url}">미리보기</span>
                          
                        </div>
                        <div class="input-wrap sm" id="imgFileArea" style="${imgFileSt}">
                          <input type="file" id="img-file-input" accept="image/*" >
                        </div>
                       </div>
                    </fieldset>
                    <br>
                    <h3>리스트 URL</h3>
                    <fieldset>
                      <div class="input-wrap sm" id="listLinkArea">
                        <input id="listLinkInput" class="input" placeholder="이벤트 목록 URL을 입력 해 주세요" 
                          onfocus="FocusInput('listLinkInput')" oninput="ChangeInput('listLinkInput')" onblur="BlurInput('listLinkInput')"
                          value="${listLink}" style="width:90%;">
                          <span class='btn primary sm'  onclick="openUrl(this)" data-value="${listLink}">POPUP</span>
                        <span class="delete-btn" onclick="DeleteInput('listLinkInput')"></span>
                      </div>
                    </fieldset>
                    <br>
                    <h3>상세 URL</h3>
                    <fieldset>
                      <div class="input-wrap sm" id="dtLinkArea">
                        <input id="dtLinkInput" class="input" placeholder="이벤트 상세 URL을 입력 해 주세요" 
                          onfocus="FocusInput('dtLinkInput')" oninput="ChangeInput('dtLinkInput')" onblur="BlurInput('dtLinkInput')"
                          value="${dtLink}" style="width:90%;">
                          <span class='btn primary sm'  onclick="openUrl(this)" data-value="${listLink}">POPUP</span>
                        <span class="delete-btn" onclick="DeleteInput('dtLinkInput')"></span>
                      </div>
                    </fieldset>
                    <br>
                    <h3>이벤트 내용</h3>
                    <fieldset>
                        <textarea id="notiInput" class="textarea" onfocus="FocusInput('notiInput')"
                            placeholder="이벤트 상세내용을 입력해주세요" value="">${evtNoti}</textarea>
                    </fieldset>
                </form>  
                `
    OpenModal("이벤트 상세", "evtDetail", true, true, `updateEventDetail()`, "확인", "취소", "", "lg", values)
  }

async function updateEventDetail(){
  const resultData = await fileUpload();
  if(resultData.result || resultData)
  {
    
    let formData = new FormData();

    let data = {}
    let evtId = $('#evtId').val() 
    let startDay = $('#startDay').val()
    let endDay = $('#endDay').val()
    let evtNoti = $('#notiInput').val()
    let evtListLink = $('#listLinkInput').val()
    let evtDtLink = $('#dtLinkInput').val()
    let thumbUrl = $('#thumbUrlInput').val()
    let imgUrl = $('#imgUrlInput').val()

    if(resultData.result)
    {
      resultData.files.forEach((v, i) => {
        if(v['original_name'].indexOf('img_')>-1){
          imgUrl = '/resources/'+v['filename']
        }
        if(v['original_name'].indexOf('thumb_')>-1){
          thumbUrl = '/resources/'+v['filename']
        }
      })
    }

    data["evtId"] = evtId
    data["startDt"] = startDay
    data["endDt"] = endDay
    data["thumbUrl"] = thumbUrl
    data["imgUrl"] = imgUrl
    data["evtNoti"] = evtNoti
    data["evtListLink"] = evtListLink
    data["evtDtLink"] = evtDtLink

    formData.append("datas", JSON.stringify(data));

    fetch("/updateEventDetail", {
              method: "POST",
              headers: {"Authorization":`{{session.get("token")}}`},
              body: formData
          })
          .then(response => response.json())
          .then(data => {
            if(typeof(data) == "number"){
                  session_Fail_Modal();
                  return
            }
            CloseModal();
            alert('이벤트상세 변경이 완료 되었습니다.')
            selectList();  
          })
          .catch(error => {
            console.error("Error:", error);
            alert('이벤트상세 변경 중 오류가 발생하였습니다.\n'+error)
          });

  }
  else
  {
    alert('이벤트상세 변경 중 오류가 발생하였습니다.')
  }
}
function fileUpload() {
    // 파일 입력 요소에서 파일 가져오기
    const imgInput = document.getElementById('img-file-input');
    const thumbInput = document.getElementById('thumb-file-input');

    const imgFile = imgInput.files[0];
    const thumbFile = thumbInput.files[0];

    // 아무 파일도 선택되지 않은 경우 처리
    if (!imgFile && !thumbFile) {
        return true;
    }

    const formData = new FormData();
    
    // 각각의 파일이 존재하면 추가
    if (imgFile) {
        formData.append("file", imgFile, "img_"+imgFile.name);
    }
    if (thumbFile) {
        formData.append("file", thumbFile, "thumb_"+thumbFile.name);
    }

    return fetch('/multiUpload', {
        method: "POST",
        headers: {"Authorization":`{{session.get("token")}}`},
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if(typeof(data) == "number"){
          session_Fail_Modal();
          return
        }
        console.log("응답:", data);
        data.result = true;
        return data;
    })
    .catch(error => {
        console.error("Error:", error);
        alert("이미지 업로드 중 오류가 발생했습니다.");
        data.result = false;
        return data.result;
    });
}

  // 전체 조회
  function selectList() {

    $("#dataContent").empty();
    let formData = new FormData();

    let corNm = $('#searchInputCor').val()
    let corSub = $('#searchInputSub').val()
    let useYn = $('#useYn').attr('name')
    let chkYn = $('#chkYn').attr('name')

    formData.append("corNm",corNm)
    formData.append("corSub",corSub)
    formData.append("useYn",useYn)
    formData.append("chkYn",chkYn)

    fetch("/evtDataList", {
                method: "POST",
                headers: {"Authorization":`{{session.get("token")}}`},
                body: formData
            })
            .then(response => response.json())
            .then(data => {
              if(typeof(data) == "number"){
                  session_Fail_Modal();
                  return
                }
                values = ``
                data.forEach((v, i) => {
                  var status = v['use_yn'];
                  var statusCol = ''
                  var imgCol = ''
                  var listUrlCol = ''
                  var encodingJSON = encodeURIComponent(JSON.stringify(v));
                  var chkMsg = ''
                  if(v['chk_yn']=='Y')
                  {
                    chkMsg = '확인필요'
                  }
                  if(status =='Y')
                  {
                    // statusCol = `<td><button id='applyBtn' class='btn primary sm' data-json='${JSON.stringify(v)}'  onclick="updateEvent(this)">비노출</button></td>`
                    
                    statusCol = "<td><button id='useYnBtn' class='btn primary sm' data-json="+encodingJSON+" onclick='changeYN(this)' >노출중</button></td>"
                  }
                  else if(status =='N')
                  {
                    // statusCol = `<td><button id='applyBtn' class='btn primary sm' data-json='${JSON.stringify(v)}'  onclick="updateEvent(this)">재노출</button></td>`
                    
                    statusCol = "<td><button id='useYnBtn' class='btn primary sm' data-json="+encodingJSON+" onclick='changeYN(this)' >비노출</button></td>"
                  }
                  if(v['evt_thumbnail']!='')
                  {
                    imgCol = `<button id='thumbBtn' class='btn primary sm' data-value="${v['evt_thumbnail']}" data-title='썸네일이미지' onclick="openImgModal(this)" >썸네일</button>`
                  }

                  if(v['evt_img']!='')
                  {
                    imgCol += ` <button id='imgBtn' class='btn primary sm' data-value="${v['evt_img']}" data-title='이미지' onclick="openImgModal(this)">이미지</button>`
                  }
                  if(v['evt_list_link']!='')
                  {
                    listUrlCol = `<button id='listBtn' class='btn primary sm' data-value="${v['evt_list_link']}" onclick="openUrl(this)" >리스트</button>`
                  }
                  if(v['evt_dt_link']!='')
                  {
                    listUrlCol += ` <button id='dtBtn' class='btn primary sm' data-value="${v['evt_dt_link']}" onclick="openUrl(this)" >디테일</button>`
                  }
                  values += `    
                    <tr data-id="${i+1}" name="${v['evt_title']}" explain="${v['evt_title']}" data-value="${v['evt_id']}" data-json="${encodingJSON}">
                      <td>${v['cor_nm']}</td>
                      <td>${v['evt_title']}</td>
                      <td>${v['evt_st_date']} </td>
                      <td>${v['evt_ed_date']} </td>
                      <td>
                      `
                  values += imgCol
                  values +=`  </td>`
                  values +=`  <td>`
                  values += listUrlCol
                  values +=`  </td>`
                  values += statusCol
                  values += `<td><button id='dtBtn' class='btn primary sm' data-json=`+encodingJSON+`  onclick="delEvt(this)" >삭제</button></td>`
                  values += `<td style="color:red;">${chkMsg}</td>`
                  values += `  </tr>`
                });
                $("#dataContent").append(values)
                $(".count").text(`Total : ${data.length}`);
                
            })
            .catch(error => {
                console.error("Error:", error);
            });
  
  }



  //검색 기능
  $("#searchBtn").click(function (e) {
    e.preventDefault();
  })

  //노출여부 수정
  $("#useYnBtn").click(function (e) {
    e.preventDefault();
    // changeYN(this)
  })
  
  function changeYN(button) {
    if(confirm('노출 상태를 변경 하시겠습니까?'))
    {
      var decodeData = decodeURIComponent(button.getAttribute("data-json"));
      let data = JSON.parse(decodeData )

      target_data = JSON.stringify({
        "change_yn" : data.use_yn == "Y" ? "N" : "Y" ,
        "evt_id" :  data.evt_id
      })

      let formData = new FormData();
      formData.append("datas", target_data);

      fetch("/updateEventUseYn", {
                method: "POST",
                headers: {"Authorization":`{{session.get("token")}}`},
                body: formData
            })
            .then(response => response.json())
            .then(data => {
              if(typeof(data) == "number"){
                  session_Fail_Modal();
                  return
                }
              alert('사용여부 변경이 완료되었습니다.');
              if(data.use_yn=='Y')
              {
                $(button).text('노출중');
              }
              else
              {
                $(button).text('비노출');
              }
            })
            .catch(error => {
              console.error("Error:", error);
            });
    }
  }
  function delEvt(button){
    if(confirm('정말 삭제하시겠습니까?'))
    {
      var decodeData = decodeURIComponent(button.getAttribute("data-json"));
      let data = JSON.parse(decodeData )

      let target_data = JSON.stringify({
        "evt_id" :  data.evt_id,
        "evt_title" :  data.evt_title,
        "cor_no" :  data.cor_no
      })

      let formData = new FormData();
      formData.append("datas", target_data);

      fetch("/delEvent", {
                method: "POST",
                headers: {"Authorization":`{{session.get("token")}}`},
                body: formData
            })
            .then(response => response.json())
            .then(data => {
            if(typeof(data) == "number"){
                  session_Fail_Modal();
                  return
              }
            if(data.message='Data delete'){
              alert('삭제되었습니다.')
              selectList()
            }
            })
            .catch(error => {
              console.error("Error:", error);
            });
    }
  }
  function openImgModal(button,gubun,type) {

    var imgUrl = $(button).attr('data-value');
    if(!imgUrl)
    {
      if(gubun=='thumb'){
        if(type =='url'){
            imgUrl = $('#thumbUrlInput').val()
        }
        else
        {

        }
      }
      else if(gubun=='img')
      {
        if(type =='url'){
          imgUrl = $('#imgUrlInput').val()
        }
      }
      else{
        imgUrl='/static/assets/images/dobot_running.gif'
      }
    }
    var title = $(button).attr('data-title');

    values = '<img src="'+imgUrl+'"></img>'
                    
    OpenModal(title, `viewImg`, false, false, '', "", "", true, "md", values)
  }
  function openUrl(button)
  {
    var url = $(button).attr('data-value');
    window.open(url, "newWindow", "width=1200,height=800,top=100,left=100,resizable=yes,scrollbars=yes");
  }
  
  
</script>

</html>