<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FinTime | 금융사 정보 관리</title>
  <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <style>
    .preview-img {
        display: block;
        width: 65%;
    }

    .hidden {
        display: none;
    }

    #imgFileArea {
        display: flex;
        align-items: center;
        justify-content: flex-start; /* 왼쪽 정렬 */
        gap: 10px; /* 요소 간 간격 */
        width: 100%;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    #img-file-input {
        flex-shrink: 0; /* 크기가 줄어들지 않도록 고정 */
    }

    #preview {
        max-width: 100%;
        max-height: 80%;
        object-fit: contain; /* 비율 유지하며 박스 안에 맞춤 */
    }

    #reupload-btn {
        margin-left: auto; /* 버튼을 오른쪽 끝으로 이동 */
    }

</style>
</head>

<body>
  <div class="container">
    <main class="main-area">
      <h2 class="title">금융사 정보 관리</h2>
      <form class="search-form">
        <div class="input-wrap">
          <input id="searchInput" class="input" placeholder="기관명 입력 후 검색" />
          <span class="delete-btn"></span>
        </div>
        <div class="select-box md" style="margin-left: 16px;">
          <strong class="label" onclick="ClickSelectLabel('corGp')" id="corGp" name="">전체</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('corGp','전체','')">
              전체
            </li>
            <li class="option" onclick="ClickSelectOption('corGp','은행','001')">
              은행
            </li>
            <li class="option" onclick="ClickSelectOption('corGp','증권','002')">
              증권
            </li>
            <li class="option" onclick="ClickSelectOption('corGp','카드','003')">
              카드
            </li>
            <li class="option" onclick="ClickSelectOption('corGp','보험','004')">
              보험
            </li>
          </ul>
        </div>
        <div class="select-box md" style="margin-left: 16px;">
          <strong class="label" onclick="ClickSelectLabel('useYn')" id="useYn" name="">전체</strong>
          <ul class="options type">
            <li class="option" onclick="ClickSelectOption('useYn','전체','')">
              전체
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','사용',' Y')">
              사용
            </li>
            <li class="option" onclick="ClickSelectOption('useYn','미사용','N')">
              미사용
            </li>
          </ul>
        </div>
        <button id="searchBtn" class="btn primary md search-btn">검색</button>
      </form>
      <div class="table-area">
        <div class="flex justify-between align-end">
          <strong class="count"></strong>
          <button class="btn tertiary sm" id="addBtn" onclick=""> + 기관 추가</button>
        </div>
        <table class="table intent-table">
          <caption>기관 관리 테이블</caption>
          <colgroup>
            <col width="80px" />
            <col width="80px"/>
            <col width="100px"/>
            <col />
            <col />
            <col />
            <col width="100px" />
            <col width="100px" />
            <col width="80px"/>
          </colgroup>
          <thead class="thead type2">
            <tr>
              <th>기관번호</th>
              <th>기관그룹</th>
              <th>기관명</th>
              <th>기관설명</th>
              <th>대표이미지</th>
              <th>썸네일이미지</th>
              <th>CI이미지</th>
              <th>최초등록일</th>
              <th>최종수정일</th>
              <th>사용여부</th>

            </tr>
          </thead>
          <tbody id="dataContent" class="tbody"></tbody>
        </table>
      </div>
      <br>
      <button id="moreContent" class="btn tertiary sm">더보기</button>
    </main>
  </div>
</body>
<script>

  let default_page = 0
  let limit = 10
  let totalData

  $(document).ready(function () {
    SearchGroupCode()
    fn_eventHandler()
    $(document).on("change", "#img-file-input", function(event) {
        let file = event.target.files[0];

        if (file) {
            let reader = new FileReader();
            reader.onload = function(e) {
                $("#preview").attr("src", e.target.result).removeClass("hidden");
                $("#img-file-input").addClass("hidden");
                $("#reupload-btn").removeClass("hidden");
            };
            reader.readAsDataURL(file);
        }
    });

    $(document).on("click", "#reupload-btn", function() {
        $("#img-file-input").val("").removeClass("hidden");
        $("#preview").addClass("hidden");
        $("#reupload-btn").addClass("hidden");
    });
  })

  function fn_eventHandler(){
    $("#addBtn").click(function (e) {
    e.preventDefault();
    addModal()
  })
    $("#dataContent").on('dblclick', 'tr', function() {
      addModal(this)
  });  

    $("#dataContent").on('dblclick', 'td:last-child', function(e) {
    e.stopPropagation();  
    ynModal(this)
  });

    $("#searchBtn").click(function (e) {
    e.preventDefault();
    search_data = {
      cor_nm : $('#searchInput').val(),
      cor_gp : $('#corGp').attr('name'),
      use_yn : $('#useYn').attr('name')
    }
    SearchGroupCode(search_data)
  })

  }

  //사용여부 모달
  function ynModal(tag){
    var before_yn =  $(tag).attr("name") == "Y" ? "미사용" : "사용" 
    target_data = JSON.stringify({
      "change_yn" : $(tag).attr("name") == "Y" ? "N" : "Y" ,
      "finance_no" :  $(tag).parent().attr("data")
    })
    values = `<p>${before_yn}으로 변경하시겠습니까 ?</p>`
    OpenModal("금융사 정보 사용여부 변경", ``, true, true, `changeYN(${target_data})`, "확인", "취소", "", "md", values)
  }

  //사용여부 수정
  function changeYN(yn_data){     
    fetch("/changeYnFinance", {
        method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(yn_data)
    })
    .then(response => console.log(response))
    .then(data => {
        CloseModal();
        let values = `<p>사용여부 변경이 완료되었습니다.</p>`;
        values += `<br>`;
        OpenModal("사용여부 변경", "", true, "", "location.reload()", "확인", "", true, "md", values);
    })
    .catch(error => {
        console.error("Error:", error);
    });
  }



  //모달 
  function addModal(tag=false) {
    //모달 setting
    var modal_title = tag ? "기관 수정" : "기관 추가"
    var flag = tag ?  true : false  // true는 수정  // false는 추가

    //요소 바인딩
    var cor_no = tag ? $(tag).find("td").eq(0).text() : ""
    var cor_name = tag ? $(tag).find("td").eq(1).text() : ""
    var title = tag ? $(tag).find("td").eq(2).text() : ""
    var cor_gp = tag ? $(tag).attr("data-id") : ""
    var cor_noti = tag ? $(tag).find("td").eq(3).text() : ""
    var img_url = tag ? $(tag).find("td").eq(4).text() : ""
    var thumbnail_url = tag ? $(tag).find("td").eq(5).text() : ""
    var ciImg_url = tag ? $(tag).find("td").eq(6).find("img").attr("src") : "";

    // ciImg_url 값이 있으면 이미지 미리보기 표시, 없으면 파일 업로드 입력 보이기
    var ciImageSection = ciImg_url.trim()
    ? `
        <img id="preview" class="preview-img" src="${ciImg_url}" alt="이미지 미리보기">
        <span class="btn primary sm" id="reupload-btn" >파일 새로 올리기</span>
        <input type="file" id="img-file-input" accept="image/*" class="hidden">
    `
    : `
        <input type="file" id="img-file-input" accept="image/*">
        <img id="preview" class="preview-img hidden" alt="이미지 미리보기" src="${ciImg_url}">
        <span class="btn primary sm hidden" id="reupload-btn">파일 새로 올리기</span>
    `;
    
    values = `
                    <h3>기관번호</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="corNoInput" class="input" placeholder="기관번호를 입력 해 주세요" 
                                onfocus="FocusInput('corNoInput')" oninput="ChangeInput('corNoInput')" onblur="BlurInput('corNoInput')"
                                value="${cor_no}" required>
                            <span class="delete-btn" onclick="DeleteInput('corNoInput')"></span>
                        </div>
                    </fieldset>
                    <br>
                    <h3>기관명</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="corNmInput" class="input" placeholder="기관명을 입력 해 주세요" 
                                onfocus="FocusInput('corNmInput')" oninput="ChangeInput('corNmInput')" onblur="BlurInput('corNmInput')"
                                value="${title}" required>
                            <span class="delete-btn" onclick="DeleteInput('corNmInput')"></span>
                        </div>
                    </fieldset>
                    <br>
                    <h3>기관그룹 선택</h3>
                    <fieldset>
                      <div class=" input-wrap select-box sm" style="width:100%">
                        <strong class="label" onclick="ClickSelectLabel('corGrpSel')" id="corGrpSel" name="" required>선택하세요</strong>
                        <ul class="options type">
                          <li class="option" onclick="ClickSelectOption('corGrpSel','은행','001')">
                            은행
                          </li>
                          <li class="option" onclick="ClickSelectOption('corGrpSel','증권','002')">
                            증권
                          </li>
                          <li class="option" onclick="ClickSelectOption('corGrpSel','카드','003')">
                            카드
                          </li>
                          <li class="option" onclick="ClickSelectOption('corGrpSel','보험','004')">
                            보험
                          </li>
                        </ul>
                      </div>
                    </fieldset>
                    <br>
                    <h3>기관 설명</h3>
                    <fieldset>
                        <textarea id="corNotiInput" class="textarea" onfocus="FocusInput('corNotiInput')"
                            placeholder="기관 설명을 입력 해 주세요" value="">${cor_noti}</textarea>
                    </fieldset>
                    <br>
                    <h3>대표이미지 URL</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="imgUrlInput" class="input" placeholder="대표 이미지 URL을 입력 해 주세요" 
                                onfocus="FocusInput('imgUrlInput')" oninput="ChangeInput('imgUrlInput')" onblur="BlurInput('imgUrlInput')"
                                value="${img_url}">
                            <span class="delete-btn" onclick="DeleteInput('imgUrlInput')"></span>
                        </div>
                    </fieldset>
                    <br>
                    <h3>썸네일이미지 URL</h3>
                    <fieldset>
                        <div class="input-wrap sm">
                            <input id="thumbUrlInput" class="input" placeholder="썸네일 이미지 URL을 입력 해 주세요" 
                                onfocus="FocusInput('thumbUrlInput')" oninput="ChangeInput('thumbUrlInput')" onblur="BlurInput('thumbUrlInput')"
                                value="${thumbnail_url}">
                            <span class="delete-btn" onclick="DeleteInput('thumbUrlInput')"></span>
                        </div>
                    <h3>CI이미지</h3>
                    <fieldset>
                        <div class="input-wrap sm" id="imgFileArea">
                            ${ciImageSection} <!-- ciImg_url 여부에 따라 미리보기/업로드 입력 분기 -->
                        </div>
                    </fieldset>    `
    OpenModal(modal_title, `addGroup`, true, true, `addGroup(${flag})`, "확인", "취소", "", "md", values)
    
    if(tag){
      ClickSelectOption("corGrpSel",cor_name,cor_gp)
    }
  }

  //추가|수정
  async function addGroup(flag=true) {
    const resultData = await fileUpload();
    if(resultData.result || resultData)
    {
      if (!checkRequired()) {
        let values = `<p>필수 값이 누락 되었습니다. (기관번호, 기관명, 기관그룹)</p>`;
          values += `<br>`;
          OpenModal("필수값 체크", "required_modal", true, "", `CloseModal("required_modal")`, "확인", "", true, "md", values);
        return
      }
  
      let target_data = {}
      $("#addGroup input , #addGroup textarea").each(function() {
          target_data[$(this).attr("id")] = $(this).val()
      });
      target_data["cor_gp"] = $("#addGroup strong").attr("name");
  
      if(resultData.result)
      {
        target_data["pri_img"] = '/resources/'+resultData.filename
      }
      else
      {
        target_data["pri_img"] = $('#preview').attr('src')
      }
      fetch("/insertFinance", {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(target_data)
      })
      .then(response => console.log(response))
      .then(data => {
          CloseModal();
          if(flag){
          let values = `<p>금융사 정보 수정이 완료되었습니다.</p>`;
          values += `<br>`;
          OpenModal("금융사 정보 수정", "", true, "", "location.reload()", "확인", "", true, "md", values);
        } else {
            let values = `<p>금융사 정보 추가가 완료되었습니다.</p>`;
            values += `<br>`;
            OpenModal("금융사 정보 추가", "", true, "", "location.reload()", "확인", "", true, "md", values);
          }
      })
      .catch(error => {
          console.error("Error:", error);
      });
    }
  }

  // 조회
  function SearchGroupCode(data={}) {
    $.ajax({
      url: "{{domain}}/financeManage",
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify(data),
      success: function (response) {
        totalData = []

        //초기화
        $("#dataContent tr").remove()
        $(".count").text(`Total : ${response.length}`);
        default_page = 0
        
        totalData.push(response)

        //화면 불러오기 + 더보기 버튼
        loadPagedData(default_page, limit, totalData)
        moreBtn()
      }
    });
  }
  //더보기 BTN
  function moreBtn() {
      $("#moreContent").click(function (e) {
        e.preventDefault()
        default_page++; // 다음 페이지로 이동
        loadPagedData(default_page, limit, totalData);
      })
    }
  function loadPagedData(page, limit, totalData) {
      let start = page * limit;
      let end = start + limit;
      let pagedData = totalData[0].slice(start, end);
      paging(pagedData);
    }

    function paging(res) {
      var oHtml = '';
      $.each(res, function (i, v) {
        oHtml += `    
            <tr data-id="${v['COR_GP']}" name="${v['COR_GP']}" data="${v['COR_NO']}">
              <td>${v['COR_NO']}</td>
              <td>${v['GP_NM']}</td>
              <td>${v['COR_NM']}</td>
              <td>${v['COR_NOTI']}</td>
              <td>${v['IMG_URL']}</td>
              <td>${v['THUMBNAIL_URL']}</td>
              <td style="display: flex; justify-content: center; align-items: center;"><img src="${v['PRI_IMG']}" style ="max-width:40px;max-height:40px;"/></td>
              <td>${v['C_DATE']}</td>
              <td>${v['U_DATE']}</td>`;
            if(v['USE_YN'] == "Y"){
              oHtml += `<td name="${v['USE_YN']}"><button class="btn primary sm changeyn" >사용</button></td>`
            } else {
              oHtml += `<td name="${v['USE_YN']}"><button class="btn tertiary sm changeyn" >미사용</button></td>`
            }
            oHtml +=`</tr>`
      });
      $("#dataContent").append(oHtml);
    }

    function fileUpload() {
      // 파일 입력 요소에서 파일 가져오기
      const imgInput = document.getElementById('img-file-input');
      const imgFile = imgInput.files[0];
      // 파일이 없는 경우 처리
      if (!imgFile) {
          return true;
      }

      const formData = new FormData();
      let corNo = $('#corNoInput').val();
      let fileExtension = imgFile.name.split('.').pop().toLowerCase();
      formData.append("file", imgFile, "ci_"+corNo+"."+fileExtension);

      return fetch('/upload', {
          method: "POST",
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          console.log("응답:", data);
          data.result = true;
          return data;
      })
      .catch(error => {
          console.error("Error:", error);
          alert("이미지 업로드 중 오류가 발생했습니다.");
          data.result = false;
          return data.result;
      });
  }
    //필수값 체크
    function checkRequired(){
      var isValid = true 
      
      $("input[required]").each(function(){
        if ($(this).val().trim() == ""){ isValid = false }
      })
      if ($("#corGrpSel").attr("name") == ""){ isValid = false }
      return isValid
    }

</script>

</html>