<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinTime | 배치 관리</title>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet" />
  </head>
<body>
    <div class="container">
        <main class="main-area">
            <h2 class="title">배치 관리</h2>

    <div class="learning-box">
        <h3>배치 컨트롤(01:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(1)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(1)">🛑 배치 중지</button>
        <button class="btn md2 secondary2" onclick="checkBatchStatus(1)">🔍 상태 확인</button>

        <p id="status1">⏳ 배치 상태 확인 중...</p>

        
    </div>

    <div class="learning-box">
        <h3>YOUTUBE 배치 컨트롤(02:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(2)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(2)">🛑 배치 중지</button>
        <button class="btn md2 secondary2"  onclick="checkBatchStatus(2)">🔍 상태 확인</button>

        <p id="status2">⏳ 배치 상태 확인 중...</p>

        
    </div>

    <div class="learning-box">
        <h3>NAVER NEWS 배치 컨트롤(03:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(3)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(3)">🛑 배치 중지</button>
        <button class="btn md2 secondary2" onclick="checkBatchStatus(3)">🔍 상태 확인</button>

        <p id="status3">⏳ 배치 상태 확인 중...</p>

        
    </div>

    <div class="learning-box">
        <h3>공모주 배치 컨트롤(04:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(4)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(4)">🛑 배치 중지</button>
        <button class="btn md2 secondary2" onclick="checkBatchStatus(4)">🔍 상태 확인</button>

        <p id="status4">⏳ 배치 상태 확인 중...</p>

        
    </div>

    <div class="learning-box">
        <h3>상품정보 배치 컨트롤(05:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(5)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(5)">🛑 배치 중지</button>
        <button class="btn md2 secondary2" onclick="checkBatchStatus(5)">🔍 상태 확인</button>

        <p id="status5">⏳ 배치 상태 확인 중...</p>

        
    </div>

    <div class="learning-box">
        <h3>대출 상품정보 배치 컨트롤(06:00)</h3>
        <button class="btn md2 secondary2" onclick="startBatch(6)">🚀 배치 시작</button>
        <button class="btn md2 secondary2" onclick="stopBatch(6)">🛑 배치 중지</button>
        <button class="btn md2 secondary2" onclick="checkBatchStatus(6)">🔍 상태 확인</button>

        <p id="status6">⏳ 배치 상태 확인 중...</p>

        
    </div>
</main>
</div>

    <script>
        // 배치 시작
        
        function startBatch(type) {
            var requestData = { "type": type}
            fetch("/batchStart", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization":`{{session.get("token")}}` 
                    },
                    body: JSON.stringify(requestData)  // JSON 형식으로 변환하여 body에 담아 전송
                })
                .then(response => response.json())
                .then(data => {
                    if(typeof(data) == "number"){
                        session_Fail_Modal();
                        return
                    }
                    statusText = data.status === "started"
                    ? `🟢 실행 중 (PID: ${data.pid})`
                    : data.status === "already_running"
                    ? `🟢 이미 실행 중 (PID: ${data.pid})`
                    : "🔴 중지됨";
                    document.getElementById("status"+type).innerText = statusText;
                })
                .catch(error => {
                    console.error("Error:", error);
                    document.getElementById("status"+type).innerText = "❌ 배치 실행 중 오류 발생";
                });
        }

        // 배치 중지
        function stopBatch(type) {
            var requestData = { "type": type}
                fetch("/batchStop", { 
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization":`{{session.get("token")}}`
                    },
                    body: JSON.stringify(requestData)  // JSON 형식으로 변환하여 body에 담아 전송
                })
                .then(response => response.json())
                .then(data => {
                    if(typeof(data) == "number"){
                        session_Fail_Modal();
                        return
                    }
                    statusText = data.status === "stopped"
                    ? '🔴 중지됨'
                    : data.status === "already_stopped"
                    ? `🔴 이미 중지됨`
                    : `🟢 실행 중 (PID: ${data.pid})`;
                    document.getElementById("status"+type).innerText = statusText;
                })
                .catch(error => {
                    console.error("Error:", error);
                    document.getElementById("status"+type).innerText = "❌ 배치 중지 중 오류 발생";
                });
        }

        // 배치 상태 확인
        function checkBatchStatus(type) {
            var requestData = { "type": type}
            fetch("/batchStatus", { 
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization":`{{session.get("token")}}` 
                    },
                    body: JSON.stringify(requestData)  // JSON 형식으로 변환하여 body에 담아 전송
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    console.log(typeof(data))
                    if(typeof(data) == "number"){
                        session_Fail_Modal();
                        return
                    }
                    let statusText = data.status === "running" 
                        ? `🟢 실행 중 (PID: ${data.pid})` 
                        : "🔴 중지됨";
                    document.getElementById("status"+type).innerText = statusText;
                })
                .catch(error => {
                    console.error("Error:", error);
                    document.getElementById("status"+type).innerText = "❌ 상태 확인 중 오류 발생";
                });
        }

        document.addEventListener("DOMContentLoaded", function() {
            checkBatchStatus(1);
            checkBatchStatus(2);
            checkBatchStatus(3);
            checkBatchStatus(4);
            checkBatchStatus(5);
            checkBatchStatus(6);
        });

    </script>

</body>
</html>
