<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" type="image/png">
  <title>Fin Time | LNB</title>
  <link href="{{ url_for('static', filename='style/lnb.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet" />

</head>

<body>
  <aside class="side-area">
    <div>
      <header class="main-logo">
        <h1 onclick="loadContent('/adminMainContents')" style="cursor: pointer;">AIdu Chat Admin</h1>
      </header>
      <!-- S : INFO BOX -->
      <div class="info-box">
        <div class="top"> 
          <div class="id">ID: {{ session.get("username") }}</div>
          <!-- <button class="time-extend-btn" onclick="resetRemainingTime()">시간 연장</button> -->
        </div>
        <div class="bottom">
          <div class="access-time">
            <span>접속 시간</span><time>{{session.get("start_time")}}</time>
          </div>
          <div class="remain-time">
            <span>종료 시간</span><time id="remaining-time">{{ session.get("end_time") }}</time>
          </div>
        </div>
      </div>
      <!-- E : INFO BOX -->
      <!-- S : LNB -->
      <nav class="lnb">
        <div class="menu">
          <strong class="depth1 ico-intent" onclick="ToggleMenu('financeManage')" id="financeManage">금융사 현황</strong>
          <ul class="depth2">
            <li><a class="depth3" href="#" onclick="loadContent('/financeManage',this)">금융사 정보 관리</a></li>
          </ul>
        </div>
        <div class="menu">
          <strong class="depth1 ico-card" onclick="ToggleMenu('scrapingManage')" id="scrapingManage">스크래핑 관리</strong>
          <ul class="depth2">
            <li><a class="depth3" href="#" onclick="loadContent('/scrapingManage',this)">스크래핑 데이터 관리</a></li>
            <!-- <li><a href="#" onclick="loadContent('/cardInfo')">카드 정보 관리</a></li> -->
          </ul>
        </div>
        <div class="menu">
          <strong class="depth1 ico-scenario" onclick="ToggleMenu('contentsManage')" id="contentsManage">컨텐츠
            관리</strong>
          <ul class="depth2">
            <li><a class="depth3" href="#" onclick="loadContent('/contentsManage',this)">컨텐츠 관리</a></li>
          </ul>
        </div>
        <div class="menu">
          <strong class="depth1 ico-etc" onclick="ToggleMenu('etcManage')" id="etcManage">기타 관리</strong>
          <ul class="depth2">
            <li><a class="depth3" href="#" onclick="loadContent('/batchControl',this)">배치 관리</a></li>
            <li><a class="depth3" href="#" onclick="loadContent('/logMonitor',this)">로그 확인</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- E : LNB -->
    <h3 class="logout-btn"><a onclick="LogoutModal()">로그아웃</a></h3>
  </aside>
  <div class="content">
    <!-- 오른쪽 화면에 표시될 내용 -->
    <iframe id="menuContent" frameborder="0"></iframe>
  </div>
</body>
<script>
  //세션 관리
  let session_check = "{{session}}";
  if (session_check == 'None') { top.location.href = '/'; }

  // LNB 토글 메뉴
  function ToggleMenu(id) {
    //올리는것
    $(".depth1.on").next().slideUp(200);
    $(".depth1")
      .not($(`#${id}`))
      .removeClass("on");
    if ($(`#${id}`).next().length > 0) {
      //뎁스 1 색칠이 되어 있다면 
      if ($(`#${id}`).hasClass("on")) {
        $(`#${id}`).next().slideUp(200);
        $(`#${id}`).removeClass("on");
      } else {
        $(`#${id}`).next().slideDown(200);
        $(`#${id}`).addClass("on");
      }
    } else {
      $($(`#${id}`)).toggleClass("on");
    }
  }


  //타이머 및 페이지 src 변경
  var timer;
  function loadContent(page, id) {
    //토글버튼 depth3
    if ($(".depth3.on").length > 0) {
      $(".depth3.on").removeClass("on")
    }
    $(id).addClass('on')

    document.getElementById('menuContent').src = page;
    // clearInterval(timer)
  }
  loadContent('/adminMainContents')

  // //시간 연장 버튼
  // function resetRemainingTime() {
  //   values = `<p>시간 연장이 완료되었습니다.</p>`
  //   OpenModal("시간 연장", "", true, "", "", "확인", "", "", "sm", values)
  //   updateRemainingTime(true)
  // }

  // function updateRemainingTime(reset) {
  //   //세션시간 (!만약 서버에서 세션 유효기간 바꾸면 여기도 바꿔야함!)
  //   var sessionStartTime = new Date()
  //   var sessionDuration = 0 * 60 * 1000

  //   if (reset) {
  //     clearInterval(timer)
  //   }
  //   timer = setInterval(function update() {
  //     var currentTime = new Date();
  //     // 남은 시간 계산 (밀리초로)
  //     var remainingTime = sessionStartTime.getTime() + sessionDuration - currentTime.getTime();

  //     // 남은 시간이 음수가 되면 0으로 설정
  //     remainingTime = Math.max(remainingTime, 0);

  //     // 밀리초를 분과 초로 변환
  //     var remainingMinutes = Math.floor(remainingTime / (1000 * 60));
  //     var remainingSeconds = Math.floor((remainingTime % (1000 * 60)) / 1000);


  //     //분,초가 1자리수 일때 앞에 0 붙여넣기
  //     var formattedMinutes = (remainingMinutes < 10) ? "0" + remainingMinutes : remainingMinutes;
  //     var formattedSeconds = (remainingSeconds < 10) ? "0" + remainingSeconds : remainingSeconds;

  //     document.getElementById("remaining-time").innerHTML = `${formattedMinutes}: ${formattedSeconds}`

  //     if (remainingTime === 0) {
  //       clearInterval(timer);
  //     }
  //   }, 1000);
  // }

  //로그아웃 모달
  function LogoutModal() {
    values = `<p>정말 로그아웃을 하시겠습니까?</p>`
    OpenModal("로그아웃", "", true, true, "Logout()", "확인", "취소", "", "md", values)
  }

  //로그아웃 기능
  function Logout() {

    CloseModal()
    $.ajax({
      url: "{{domain}}:{{port}}/logout",
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify(session_check),
      success: function (response) {
        values = `<p>로그아웃 되었습니다.</p>`
        OpenModal("완료", "", true, "", `top.location.href="/"`, "확인", "", "", "md", values)
        

      }, error: function (xhr, error, status) {
        console.log(error)
      }

    })
  }
</script>

</html>